@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 0, 0);
    font-family: 'Karla', sans-serif;
}

:root {
    --bgcolor : #000000;
    --accentcolor: #ff0000;
}

body {
    background-color: #28344C;
}

.link-enigma {
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.pergunta{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 40px auto;
    gap: 20px;
    margin-top:-550px;
    margin-left: -270px;
}
.link-enigma img {
    width: 1374px;
    height: 876px;

}
.hackervermelho {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.link-enigma h1 {
    font-size: 2.0rem;
}

h3{
    color: #28344C;
}



INPUT.ClasseBotao {
    width: 100px;
    height: 50px;
    font-family: verdana;
    background-color: rgb(250, 250, 250);
    font-size: large;
}

INPUT.ClasseIn {
    width: 200px;
    height: 40px;
    font-family: verdana;
    background-color: rgb(255, 0, 0);
    font-size: large;
    border: 0 none;
    color: #000000;

}

#BtAdicionar0{
    margin-top: 460px;
    margin-left: 620px;
    width: 400px;
    font-size: 22px;
}



h1{
  color: red;  
}

@media (min-width: 1024px) {
    .link-tree {
        width: 40vw;
    }
}